@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');/*for font*/
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');/*for search icon*/

/*all above imports allow me to access and use the fonts and icon image from the web source*/

body{
    margin: 0px;/*marin the space between all the elements(header,body etc) and the actual windows*/
    padding: 0px;
    box-sizing: border-box;
    
}

nav{
    display: flex;
    justify-content: space-around;/*aligns nav on top and in one single line*/
    align-items:center ;/*moves nav so that its not touching the top of the window*/
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(22, 172, 139) ;
    background-image: linear-gradient(to right, rgb(49, 139, 175) ,rgb(22, 172, 139) );
    
}

.nav-links{
    display: flex;
    justify-content: space-around;/*makes sure there is space betwen each link*/
    width: 30%;/*space between links specified*/
}

.nav-links li{
    list-style: none;/*removes bullet point on headings*/
}

.nav-links a{
   color: white;
   text-decoration: none; /*removes the underline under nav headings(hyperlinks)*/
    font-weight: bold;/*boldens headings*/
}

.nav-links a:hover{/*this acces when the mouse hover our the nav links*/
    opacity: 0.7;/* allows link to be a darker colour when mouse is hoveing over the link*/
}

.home-page{
    background-image: url("Travel.jpg");  /*sets background to image*/
    background-repeat: no-repeat; /*stops image from repeating on screen*/
    background-size: cover;/*allows background to cover all of the screen no white spaces (only covers body)*/
    background-position: center;/*centers the background image*/

    display: grid;
    align-items: center;
    font-family: 'Playfair Display', serif;/*all text in body including header and other stuff same font*/
    
    padding-bottom: 900px;
}


.header{
    text-align: center;/*positiions text in center of line/horizontally (not webpage) */
    padding-top: 200px;/*amount of space from the nav links moves it vertically down*/
   
}

.intro{
    color: black;
    text-align: center;/*positions center horizontally*/
    padding-top: 20px;/*amount of space from the heading*/
    font-weight: bold;
    word-spacing: 5px;
    
}


section{
    
    text-align: center;
    background-image: url("london.jpg");
    background-repeat: no-repeat; /*stops image from repeating on screen*/
    background-position: center;/*centers the background image*/
    background-size: cover;/*covers the whole window for section*/
    

    padding-top: 100px;
    padding-bottom: 900px;/*sets image padding size*/  
    
    font-family: 'Playfair Display', serif;
    

    
}

section h1{
    padding-top: 100px;
    font-size: 8rem;
}



.main-content{
    font-weight: bold;
    background-color: white;
    margin-right: 20rem;/*both commands are margin of p white spaces before and after text*/
    margin-left: 20rem;
}

ul li{
    display: flex;/*removes bullet point from list*/
    justify-content: center;
}


/*FOR PARIS BLOG*/

.section2{
    background-image: url("Paris.jpg");  /*sets background to image*/
    background-repeat: no-repeat; /*stops image from repeating on screen*/
    background-size: cover;/*allows background to cover all of the screen no white spaces (only covers body)*/
    background-position: center;/*centers the background image*/
    display: grid;
    align-items: center;
    font-family: 'Playfair Display', serif;/*all text in body including header and other stuff same font*/
    padding-bottom: 900px;
}

.section2 h1{
    padding-top: 100px;
    font-size: 8rem;
    text-align: center;
}

.paris-content{
    font-weight: bold;
    background-color: white;
    margin-right: 20rem;/*both commands are margin of p white spaces before and after text*/
    margin-left: 20rem;
    text-align: center;
}


form{
    color: black;
    /* text-align: center;/*positions form on the center of the page*/
    padding-top: 3cm;
    display: flex;/*allows content to be on the side*/
    width: 80%;
    margin: 50px;
    ;
}

.contact-right{
    flex-basis: 50%;
    padding: 50px 100px;
    text-align: left;
}

.contact-left{
    flex-basis: 50%;
    padding: 50px;
    padding-left: 5rem;
}

.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}

.input-row input{
    border: none;
    border-bottom: 1px solid;
    outline: none;
    width: 60%;
    
}

textarea{
    width: 60%;
    border: none;
    border-bottom: 1px solid;
    outline: none;
}

button{
    background-image: linear-gradient(to right, rgb(49, 139, 175),rgb(22, 172, 139) );
    color: white;
    border: none;
    width: 40%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
}

footer{
    background-image: linear-gradient(to right, rgb(49, 139, 175),rgb(22, 172, 139) );
    color: white;
    text-align: center;
}
footer h1{
    padding-top: 1rem;
}
footer ul a{
    align-items: center;
    padding-bottom: 1rem;
    text-decoration: none;
    font-size: 50px;
    margin-bottom: 1rem;
}
.fa-facebook {
    background: #3B5998;
    color: white;
    padding: 10px;
    border-radius: 100%;  
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
    padding: 10px;
    border-radius: 100%;  
  }
  .fa-instagram {
    background: #125688;
    color: white;
    padding: 10px;
    border-radius: 100%;  
  }
  .fa-snapchat {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding: 10px;
    border-radius: 100%;  
}